<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>detail(서적 상세)</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>


    <style>
        .wrap{
            width:600px;
            margin: auto;
        }

        #comment-btn{
            padding-left: 12px;
            margin-left: 489px;
            margin-bottom: 18px;
            margin-top: 0px;
        }

        .img{
            margin: 0 auto 10px auto;
            width: 400px;
            height: 300px;
            border: 3px solid black;
            border-radius: 5px;
            text-align: center;
        }

    </style>

</head>

    <body>



    <div class="wrap"> <br>
        <p class="img">책 사진 자리</p>
       <div class="card text-center">
        <div class="card-header">
            책제목
        </div>
        <div class="card-body">
            <h5 class="card-title">소개</h5>
            <p class="card-text"></p>
        </div>
        <div class="card-footer text-muted">
            별점
        </div>
    </div>
        <br>

    <div class="input-group">
        <span class="input-group-text">코멘트</span>
        <textarea class="form-control" aria-label="With textarea"></textarea>
    </div><br>
        <button id="comment-btn" type="button" class="btn btn-outline-primary">코멘트 등록</button><br>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">아이디</th>
            <th scope="col">날짜</th>
            <th scope="col">코멘트</th>
        </tr>
        </thead>
    </table>
    </div>
    

</body>
</html>
