<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Sparta Vocabulary Notebook</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script>
        /*$(document).ready(function(){
            showbooks();
        });*/
        function showbooks() {
                $('#cards-box').empty()
           console.log($('#inputGroupSelect04 option:selected').val())
            console.log($('#inputGroupSelect05 option:selected').val())


            $.ajax({
                type: 'GET',
                url: '/api/list?sample_give=샘플데이터',
                data: {},
                success: function (response) {
                    let mybooks = response['books_list']
                    console.log(mybooks)
                    for (let i = 0; i < mybooks.length; i++) {
                        let title = mybooks[i]['title']
                        let img_url = mybooks[i]['img_url']
                        let artist = mybooks[i]['artist']
                        let rating = mybooks[i]['rating']
                        let type = mybooks[i]['type']
                        let channel = mybooks[i]['channel']
                        let cnt = mybooks[i]['cnt']

                        if($('#inputGroupSelect04 option:selected').val()==type&&$('#inputGroupSelect05 option:selected').val()==channel) {


                                             let temp_html =  `<div class="card " style="width :400px;margin: 50px 60px 50px 60px;">
                                                    <img src="${img_url}" class="card-img-top" alt="...">
                                                    <div class="card-body">
                                                        <h5 style="font-weight:bold;margin-bottom:10px ,class="card-title">제목 : ${title}</h5>
                                                        <h6>저자 :${artist}</h6>
                                                        <p class="card-text">분류 : ${type}<br>
                                                    </div>
                                                    <div class="card-footer">
                                                        <small style ="font-weight:bold;"class="text-muted">평점 : ${rating}</small>
                                                    </div>
                                                </div>`


                            $('#cards-box').append(temp_html)
                        }
                    }
                }
            })
        }
    </script>
    <style>
        .wrap {
            background-color: ivory;
            min-height: 100vh;
            padding-bottom: 50px;
        }

        .banner {
            margin-bottom: 50px;
            width: 100%;
            height: 300px;

            background-color: ivory;
            background-image: url('{{ url_for("static", filename="img01.jpg") }}');

            background-position: center;
            background-size: 400px;
            background-repeat: no-repeat;

            cursor: pointer;
        }

        .btn-group {
            margin-left: 700px;
            display: block;

        }

       .dropdown-item{
           width:200px;
       }
        .search_button{
            margin-left:200px;
            display:block;
        }



    </style>

</head>

    <body>
        <div class="wrap">
            <div class="banner" onclick="window.location.href = '/'"></div>
                <div class="input-group">
                <select style="width:50px; margin-bottom:50px;" class="custom-select" id="inputGroupSelect04" aria-label="Example select with button addon">
                    <option selected>Choose...</option>
                    <option value="알고리즘">알고리즘</option>
                    <option value="자료구조">자료구조</option>
                    <option value="Spring/SpringBoot">Spring</option>
                    <option value="React/ReactNative">React/ReactNative</option>
                    <option value="Node.js">Node.js</option>

                </select>
                <select style="width:50px; margin-bottom:50px;" class="custom-select" id="inputGroupSelect05" aria-label="Example select with button addon">
                    <option selected>Choose...</option>
                    <option value="서적">서적</option>
                    <option value="Youtube">Youtube</option>

                </select>
                    <button class="btn btn-outline-secondary" type="button" onclick="showbooks()"> 검색 </button>
                </div>
                <div class="card-columns"  id="cards-box" ></div>
        </div>

    </body>
</html>
